{% extends "base.html" %}

{% block content %}
  <h1>Register</h1>
  <form method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" required>
    <br>
    <label for="surname">Surname:</label>
    <input type="text" name="surname" required>
    <br>
    <label for="company_name">Company Name:</label>
    <input type="text" name="company_name" required>
    <br>
    <label for="username">Username:</label>
    <input type="text" name="username" required>
    <br>
    <label for="phone_number">Phone Number:</label>
    <select name="country_code" required>
            <option value="91">India 1</option>
            <option value="93">Afghanistan</option>
        <option value="355">Albania</option>
        <option value="213">Algeria</option>
        <option value="376">Andorra</option>
        <option value="244">Angola</option>
        <option value="1264">Anguilla</option>
        <option value="1268">Antigua and Barbuda</option>
        <option value="54">Argentina</option>
        <option value="374">Armenia</option>
        <option value="297">Aruba</option>
        <option value="61">Australia</option>
        <option value="43">Austria</option>
        <option value="994">Azerbaijan</option>
        <option value="1242">Bahamas</option>
        <option value="973">Bahrain</option>
        <option value="880">Bangladesh</option>
        <option value="1246">Barbados</option>
        <option value="375">Belarus</option>
        <option value="32">Belgium</option>
        <option value="501">Belize</option>
        <option value="229">Benin</option>
        <option value="1441">Bermuda</option>
        <option value="975">Bhutan</option>
        <option value="591">Bolivia</option>
        <option value="387">Bosnia and Herzegovina</option>
        <option value="267">Botswana</option>
        <option value="55">Brazil</option>
        <option value="246">British Indian Ocean Territory</option>
        <option value="673">Brunei Darussalam</option>
        <option value="359">Bulgaria</option>
        <option value="226">Burkina Faso</option>
        <option value="257">Burundi</option>
        <option value="855">Cambodia</option>
        <option value="237">Cameroon</option>
        <option value="1">Canada</option>
        <option value="238">Cape Verde</option>
        <option value="236">Central African Republic</option>
        <option value="235">Chad</option>
        <option value="56">Chile</option>
        <option value="86">China</option>
        <option value="61">Christmas Island</option>
        <option value="61">Cocos (Keeling) Islands</option>
        <option value="57">Colombia</option>
        <option value="269">Comoros</option>
        <option value="242">Congo</option>
        <option value="682">Cook Islands</option>
        <option value="506">Costa Rica</option>
        <option value="225">Cote d'Ivoire</option>
        <option value="385">Croatia</option>
        <option value="53">Cuba</option>
        <option value="599">Curacao</option>
        <option value="357">Cyprus</option>
        <option value="420">Czech Republic</option>
        <option value="45">Denmark</option>
        <option value="253">Djibouti</option>
        <option value="1767">Dominica</option>
        <option value="1809">Dominican Republic</option>
            <option value="670">East Timor</option>
        <option value="593">Ecuador</option>
        <option value="20">Egypt</option>
        <option value="503">El Salvador</option>
        <option value="240">Equatorial Guinea</option>
        <option value="291">Eritrea</option>
        <option value="372">Estonia</option>
        <option value="251">Ethiopia</option>
        <option value="500">Falkland Islands (Malvinas)</option>
        <option value="298">Faroe Islands</option>
        <option value="679">Fiji</option>
        <option value="358">Finland</option>
        <option value="33">France</option>
        <option value="594">French Guiana</option>
        <option value="689">French Polynesia</option>
        <option value="262">French Southern Territories</option>
        <option value="241">Gabon</option>
        <option value="220">Gambia</option>
        <option value="995">Georgia</option>
        <option value="49">Germany</option>
        <option value="233">Ghana</option>
        <option value="350">Gibraltar</option>
        <option value="30">Greece</option>
        <option value="299">Greenland</option>
        <option value="1473">Grenada</option>
        <option value="590">Guadeloupe</option>
        <option value="1671">Guam</option>
        <option value="502">Guatemala</option>
        <option value="44">Guernsey</option>
        <option value="224">Guinea</option>
        <option value="245">Guinea-Bissau</option>
        <option value="592">Guyana</option>
        <option value="509">Haiti</option>
        <option value="39">Holy See (Vatican City State)</option>
        <option value="504">Honduras</option>
        <option value="852">Hong Kong</option>
        <option value="36">Hungary</option>
        <option value="354">Iceland</option>
        <option value="91">India</option>
        <option value="62">Indonesia</option>
        <option value="98">Iran, Islamic Republic of</option>
        <option value="964">Iraq</option>
        <option value="353">Ireland</option>
        <option value="44">Isle of Man</option>
        <option value="972">Israel</option>
        <option value="39">Italy</option>
        <option value="1876">Jamaica</option>
        <option value="81">Japan</option>
        <option value="44">Jersey</option>
        <option value="962">Jordan</option>
        <option value="7">Kazakhstan</option>
        <option value="254">Kenya</option>
        <option value="686">Kiribati</option>
        <option value="850">Korea, Democratic People's Republic of</option>
        <option value="82">Korea, Republic of</option>
        <option value="383">Kosovo</option>
        <option value="965">Kuwait</option>
        <option value="996">Kyrgyzstan</option>
        <option value="856">Lao People's Democratic Republic</option>
        <option value="371">Latvia</option>
            <option value="40">Romania</option>
            <option value="7">Russian Federation</option>
        <option value="250">Rwanda</option>
        <option value="590">Saint Barthelemy</option>
        <option value="290">Saint Helena, Ascension and Tristan da Cunha</option>
        <option value="1869">Saint Kitts and Nevis</option>
        <option value="1758">Saint Lucia</option>
        <option value="590">Saint Martin (French part)</option>
        <option value="508">Saint Pierre and Miquelon</option>
        <option value="1784">Saint Vincent and the Grenadines</option>
        <option value="685">Samoa</option>
        <option value="378">San Marino</option>
        <option value="239">Sao Tome and Principe</option>
        <option value="966">Saudi Arabia</option>
        <option value="221">Senegal</option>
        <option value="381">Serbia</option>
        <option value="248">Seychelles</option>
        <option value="232">Sierra Leone</option>
        <option value="65">Singapore</option>
        <option value="1721">Sint Maarten (Dutch part)</option>
        <option value="421">Slovakia</option>
        <option value="386">Slovenia</option>
        <option value="677">Solomon Islands</option>
        <option value="252">Somalia</option>
        <option value="27">South Africa</option>
        <option value="500">South Georgia and the South Sandwich Islands</option>
        <option value="211">South Sudan</option>
        <option value="34">Spain</option>
        <option value="94">Sri Lanka</option>
        <option value="249">Sudan</option>
        <option value="597">Suriname</option>
        <option value="47">Svalbard and Jan Mayen</option>
        <option value="268">Swaziland</option>
        <option value="46">Sweden</option>
        <option value="41">Switzerland</option>
        <option value="963">Syrian Arab Republic</option>
        <option value="886">Taiwan, Province of China</option>
        <option value="992">Tajikistan</option>
        <option value="255">Tanzania, United Republic of</option>
        <option value="66">Thailand</option>
        <option value="670">Timor-Leste</option>
        <option value="228">Togo</option>
        <option value="690">Tokelau</option>
        <option value="676">Tonga</option>
        <option value="1868">Trinidad and Tobago</option>
        <option value="216">Tunisia</option>
        <option value="90">Turkey</option>
        <option value="993">Turkmenistan</option>
        <option value="1649">Turks and Caicos Islands</option>
        <option value="688">Tuvalu</option>
        <option value="256">Uganda</option>
        <option value="380">Ukraine</option>
        <option value="971">United Arab Emirates</option>
        <option value="44">United Kingdom</option>
        <option value="1">United States</option>
        <option value="598">Uruguay</option>
        <option value="998">Uzbekistan</option>
            <option value="678">Vanuatu</option>
        <option value="58">Venezuela, Bolivarian Republic of</option>
        <option value="84">Viet Nam</option>
        <option value="1284">Virgin Islands, British</option>
        <option value="1340">Virgin Islands, U.S.</option>
        <option value="681">Wallis and Futuna</option>
        <option value="212">Western Sahara</option>
        <option value="967">Yemen</option>
        <option value="260">Zambia</option>
        <option value="263">Zimbabwe</option>
      <!-- Add more countries and their codes here -->
    </select>
    <input type="tel" name="phone_number" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <br>
    <button type="submit">Register</button>
  </form>
{% endblock %}
